alabaster==0.7.16
Babel==2.15.0
black==24.4.2
build==1.2.1
cachetools==5.3.3
certifi==2024.7.4
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
coverage==7.14.1
distlib==0.3.8
docutils==0.20.1
filelock==3.14.0
flake8==7.0.0
idna==3.7
imagesize==1.4.1
iniconfig==2.3.0
Jinja2==3.1.4
MarkupSafe==2.1.5
mccabe==0.7.0
mypy==1.10.0
mypy-extensions==1.0.0
packaging==24.1
pathspec==0.12.1
pip-tools==7.4.1
platformdirs==4.2.2
pluggy==1.5.0
pycodestyle==2.11.1
pyflakes==3.2.0
Pygments==2.18.0
pyproject-api==1.6.1
pyproject_hooks==1.1.0
pytest==9.0.3
pytest-cov==7.1.0
requests==2.32.3
snowballstemmer==2.2.0
Sphinx==7.3.7
sphinx-rtd-theme==2.0.0
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
tox==4.15.1
types-pycurl==7.45.3.20240421
typing_extensions==4.12.2
urllib3==2.2.2
virtualenv==20.26.2
